<div align="center">
    <p>
        <h1><span class="glyphicon glyphicon-education"></span> Education:</h1>
    </p>
    <p>
        <h2>Master</h2>
        <h4>securite des systemes informatiques et infrastructures</h4>
      
    </p>
    <p>
        <h2>Bachelor</h2>
 
        <h4>Baccalaureat en science informatique</h4>
    </p>
    <p>
        <h2>Diploma</h2>
        <h4>Licence en informatique systemes informatiques et logiciels</h4>
       
    </p>

</div>
<div align="center" class="row" id="project"></div>

<div align="center">
    <a href="https://github.com/jainishshah17/jainishshah.com/raw/master/app/assets/documents/Jainish-Resume.pdf">
        <h2><span class="glyphicon glyphicon-download"></span>Download Resume</h2>
    </a>
</div>
<div align="center" class="container">
    <p>
        <h1>Work Experience</h1>
    </p>
    <p>
        <h2>Stage fin d etude</h2>
        
    </p>
   
    
        
    
</div>
