<div align="center">
    <p>
        <h1><span class="glyphicon glyphicon-education"></span> Education:</h1>
    </p>
    <p>
        <h2>Masters</h2>
        <h4>securite/h4>
        
    </p>
    <p>
        <h2>Bachelor</h2>
        
        <h4>Bac info/h4>
    </p>
    <p>
        <h2>Diploma</h2>
        
        <h4>licence en info</h4>
    </p>

</div>
<div align="center" class="row" id="project"></div>



<div align="center" class="container">
    <p>
        <h1>Work Experience</h1>
        <p>stage</p>
    </p>

   
      
  
    
   
</div>
