<div class="table-responsive">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Kubernetes</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://jfrog.com/blog/control-your-kubernetes-voyage-with-artifactory/">Control Your
                            Kubernetes Voyage with JFrog Artifactory</a>
                    </h3>
                    <div class="mb-1 text-muted">Feb 20 2018</div>
                    <p class="card-text mb-auto">5-Step Kubernetes CI/CD Process using Artifactory & Helm</p>
                    <a href="https://jfrog.com/blog/control-your-kubernetes-voyage-with-artifactory/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]" src="https://jfrog.com/wp-content/uploads/2018/02/863x300.png"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Microsoft Azure</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://jfrog.com/blog/kubernetes-registry-for-azure-container-instances/">Kubernetes
                            Registry for Azure Container Instances (ACI)</a>
                    </h3>
                    <div class="mb-1 text-muted">May 28 2018</div>
                    <p class="card-text mb-auto">Integrating Artifactory with Azure Container Instances</p>
                    <a href="https://jfrog.com/blog/kubernetes-registry-for-azure-container-instances/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]" src="https://jfrog.com/wp-content/uploads/2018/05/Azure_ACI_863x300.jpg"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Hashicorp Terraform</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://jfrog.com/blog/use-terraform-to-easily-manage-your-artifactory-infrastructure/">Use
                            Terraform to Easily Manage Your Artifactory Infrastructure</a>
                    </h3>
                    <div class="mb-1 text-muted">April 24 2018</div>
                    <p class="card-text mb-auto">Deploy Artifactory Using Terraform</p>
                    <a href="https://jfrog.com/blog/use-terraform-to-easily-manage-your-artifactory-infrastructure/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]"
                     src="https://jfrog.com/wp-content/uploads/2018/04/Terraform_Artifactory_863x300.jpg"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">CircleCI</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://jfrog.com/blog/fully-reproducible-builds-with-circleci-and-artifactory/">Fully
                            Reproducible Builds with CircleCI and Artifactory</a>
                    </h3>
                    <div class="mb-1 text-muted">April 24 2017</div>
                    <p class="card-text mb-auto">Configuring CircleCI to push build artifacts to JFrog Artifactory</p>
                    <a href="https://jfrog.com/blog/fully-reproducible-builds-with-circleci-and-artifactory/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]" src="https://www.jfrog.com/wp-content/uploads/2017/11/CircleCITop.png"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">NetApp SnapCenter</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://blog.netapp.com/blogs/take-application-consistent-backup-of-jfrog-artifactory-with-snapcenter-2-0-on-ontap/">Take
                            Application-Consistent Backups of JFrog Artifactory with SnapCenter 2.0 on ONTAP</a>
                    </h3>
                    <div class="mb-1 text-muted">May 23 2017</div>
                    <p class="card-text mb-auto">Instantaneous replication of build artifacts with NetApp and Artifactory</p>
                    <a href="https://blog.netapp.com/blogs/take-application-consistent-backup-of-jfrog-artifactory-with-snapcenter-2-0-on-ontap/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]" src="https://blog.netapp.com/wp-content/uploads/2017/05/SC_MySQL.png"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">NetApp Storage GRID</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://blog.netapp.com/blogs/jfrog-artifactory-software-development-solutions-with-storagegrid/">JFrog
                            Artifactory Delivers Software Development to Global Teams Requiring Scalable Solutions</a>
                    </h3>
                    <div class="mb-1 text-muted">May 10 2017</div>
                    <p class="card-text mb-auto">Global site collaboration with Artifactory and StorageGRID</p>
                    <a href="https://blog.netapp.com/blogs/jfrog-artifactory-software-development-solutions-with-storagegrid/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]" src="https://blog.netapp.com/wp-content/uploads/2017/05/JFrog_SG_1.png"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Atlassian Bitbucket</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://jfrog.com/blog/empowering-bitbucket-version-control-with-promotion-and-distribution/">Empowering
                            BitBucket Version Control with Promotion and Distribution</a>
                    </h3>
                    <div class="mb-1 text-muted">May 23 2016</div>
                    <p class="card-text mb-auto">The JFrog Bitbucket add-on to monitor build pipeline</p>
                    <a href="https://jfrog.com/blog/empowering-bitbucket-version-control-with-promotion-and-distribution/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]"
                     src="https://www.jfrog.com/wp-content/uploads/2017/11/Screen-Shot-2016-05-16-at-3.41.25-PM1-1024x511.png"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">AWS CloudFormation</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://jfrog.com/blog/learn-how-the-easily-scale-jfrog-artifactory-using-our-customized-template-in-30-minutes/">Easily
                            Scale JFrog Artifactory with AWS CloudFormation</a>
                    </h3>
                    <div class="mb-1 text-muted">April 12 2018</div>
                    <p class="card-text mb-auto">Managing Your Artifactory Stack Using CloudFormation</p>
                    <a href="https://jfrog.com/blog/learn-how-the-easily-scale-jfrog-artifactory-using-our-customized-template-in-30-minutes/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]"
                     src="https://jfrog.com/wp-content/uploads/2018/04/Artifactory_CloudFormation_830_330.png"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Bitbucket Pipeline</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://jfrog.com/blog/easily-use-jfrog-cli-in-the-atlassian-bitbucket-pipeline/">Containerize
                            Node Microservices Using Atlassian Bitbucket Pipeline and JFrog CLI</a>
                    </h3>
                    <div class="mb-1 text-muted">June 21 2018</div>
                    <p class="card-text mb-auto">Use JFrog CLI to Easily Integrate into the Bitbucket pipeline</p>
                    <a href="https://jfrog.com/blog/easily-use-jfrog-cli-in-the-atlassian-bitbucket-pipeline/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]" src="https://jfrog.com/wp-content/uploads/2018/06/atl863X300.jpg"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Bitbucket Add-on</strong>
                    <h3 class="mb-0">
                        <a class="text-dark"
                           href="https://www.linkedin.com/pulse/bitbucket-add-on-2048-game-jainish-shah/">Bitbucket Add-on for 2048 Game using Atlassian Connect</a>
                    </h3>
                    <div class="mb-1 text-muted">April 23 2016</div>
                    <p class="card-text mb-auto">Learn to create Add-on for Bitbucket</p>
                    <a href="https://www.linkedin.com/pulse/bitbucket-add-on-2048-game-jainish-shah/">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     alt="Thumbnail [200x250]" src="https://media.licdn.com/media/gcrc/dms/image/C5612AQENxxXcDevxsQ/article-cover_image-shrink_720_1280/0?e=2129500800&v=beta&t=RS-hZ6aNA_OzsKgxJkd2UL-3KNlvAtz1i-DCY9J5VBE"
                     data-holder-rendered="true" style="width: 200px; height: 250px;">
            </div>
        </div>
    </div>
</div>