<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en"  class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en"  class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en"  class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"  class="no-js"> <!--<![endif]-->
<html>
  <head>
    <title>{{title}}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Jainish Shah</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel="stylesheet" href="/stylesheets/footer.css"/>
      <link rel="stylesheet" href="/stylesheets/about.css"/>
      <link rel="stylesheet" href="/stylesheets/button.css"/>
      <link rel="stylesheet" href="/stylesheets/app.css"/>
      <script type="application/javascript"  href="/javascripts/map.js"></script>
      <link rel="icon" type="image/gif" href="/images/favicon.ico">
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"\>
      <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
      <script src="//vjs.zencdn.net/4.12/video.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIVWDwA5JFR8Kc4cDEAaRtbACKWA1rHVI"></script>
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <script src="/bower_components/jquery/dist/jquery.slim.min.js"></script>
      <script src="/bower_components/d3/d3.min.js"></script>
      <script src="/bower_components/ajax/dist/ajax.min.js"></script>
      <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/bower_components/angular/angular.min.js"></script>
      <script src="/bower_components/requirejs/require.js"></script>
      <script src="/bower_components/popper.js/dist/popper.min.js"></script>
      <script src="/bower_components/loader.js/benchmarks/loader.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72107809-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-72107809-1');
      </script>
  </head>
  <nav>
      <ul class="menu">
          <li><a href="/" class="ghost-button">Home</a></li>
          <li><a href="/portfolio" class="ghost-button">Portfolio</a></li>
          <li><a href="/blogs" class="ghost-button">Blogs</a></li>
          <li><a href="/contact" class="ghost-button">Contact</a></li>
          <li><a href="/about" class="ghost-button">About Me</a></li>
      </ul>
  </nav>
  <section>
      <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  </section>
  <body>
    {{{body}}}
  </body>
  <footer id="footer">
      <div>
          <ul class="soc">
              <li><a class="soc-facebook" href="https://www.facebook.com/jainish.shah.3979" target="_blank"></a></li>
              <li><a class="soc-pinterest" href="https://www.pinterest.com/jainishshah3979/" target="_blank"></a></li>
              <li><a class="soc-linkedin" href="https://www.linkedin.com/in/jainishshah" target="_blank"></a></li>
              <li><a class="soc-youtube" href="https://www.youtube.com/channel/UCAloVYHTNxkyfbi4oUIYDvQ" target="_blank"></a></li>
              <li><a class="soc-instagram" href="https://instagram.com/pratiksha_jainish/" target="_blank"></a></li>
              <li><a class="soc-github" href="https://github.com/jainishshah17" target="_blank"></a></li>
              <li><a class="soc-twitter" href="https://twitter.com/jainishshah24" target="_blank"></a></li>
          </ul>
      </div>
      <div>
          Designed By: Jainish Shah
      </div>
  </footer>
</html>
