<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
      <ul class="menu">
          <li><a href="/" class="ghost-button">Home</a></li>
          <li><a href="/portfolio" class="ghost-button">Portfolio</a></li>
          <li><a href="/contact" class="ghost-button">Contact</a></li>
          <li><a href="/about" class="ghost-button">About Me</a></li>
      </ul>
  </nav>
  <body>
    {{{body}}}
  </body>
</html>
