<div class="projects">
    <h1 align="center">Projects</h1>
    <ul style="list-style-type:square">
        <li><b>cinema</b>
           
        </li>
        <li><b>Multiplex Ticket Booking System</b>
           
        </li>
        <li><b>Student Relationship Management System</b>
            
        </li>
       
    </ul>
</div>


